@model IEnumerable<Unleashed_MVC.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandWebsiteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandUpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandWebsiteUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandUpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BrandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BrandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
