@model Unleashed_MVC.Models.Discount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountMinimumOrderValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountMinimumOrderValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountMaximumValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountMaximumValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountUsageLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountUsageLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountUsageCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountUsageCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountRankRequirementNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountRankRequirementNavigation.RankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountStatus.DiscountStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountType.DiscountTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiscountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
