@model Unleashed_MVC.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleStatus.SaleStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleType.SaleTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SaleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
