@model IEnumerable<Unleashed_MVC.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InchargeEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InchargeEmployee.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.ProviderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.StockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType.TransactionTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variation.VariationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
