@model Unleashed_MVC.Models.OrderVariationSingle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderVariationSingle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariationPriceAtPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariationPriceAtPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariationSingle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariationSingle.VariationSingleId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
