@model Unleashed_MVC.Models.UserRank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserRank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneySpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneySpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankCreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankCreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankUpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankUpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank.RankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
