@model Unleashed_MVC.Models.Notification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNotificationDraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNotificationDraft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIdSenderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIdSenderNavigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NotificationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
