@model Unleashed_MVC.Models.Provider

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderUpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProviderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
